@import '../../../assets/scss/global';

.Dropdown {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    &__wrapper {
        margin-top: 12px;
        left: -20px;
        min-width: 194px;
        width: auto;
        padding: 20px;
        background-color: $colorWhite;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }
    &_right &__wrapper {
        left: initial;
        right: -20px;
    }
    &_center &__wrapper {
        left: 50%;
        transform: translateX(-50%);
    }
    &:hover &__wrapper,
    &:focus &__wrapper {
        opacity: 1;
        visibility: visible;
    }
}