@import '../../assets/scss/common/variables';
@import '../../assets/scss/common/mixins';

.screen-collumn {
    width: 100%;
    height: 100%;
    padding: 60px 25px;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
    &_bg {
        position: relative;
        &::before {
            @include pseudo(100vw, 100%);
            background-color: rgba($colorPrimary, .24);
            top: 0;
            z-index: -1;
        }
    }
}