@import '../../assets/scss/global';

.NavItem {
    position: relative;
    a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        display: inline-block;
        font-size: 20px;
        position: relative;
        z-index: 2;
        &:hover,
        &:focus {
            color: $colorPrimary;
            & + .Dropdown .Dropdown__wrapper {
                opacity: 1;
                visibility: visible;
            }
        }
        &.active {
            color: $colorPrimary;
        }
    }
    & + & {
        margin-left: 3rem;
    }
}