@import '../../assets/scss/global';

.Logo {
    display: inline-block;
    width: 180px;
    @include mobile {
        width: 160px;
        & .Icon,
        & svg {
            width: 125px!important;
        }
    }
}