@import '../../../assets/scss/global';

@mixin ButtonColor($color) {
    border-color: $color;
    background-color: $color;
    color: $colorWhite;
    &.is-outline {
        background-color: transparent;
        color: $color;
        &:hover,
        &:focus {
            background-color: $color;
            border-color: $color;
            color: $colorWhite;
        }
    }
    &:hover,
    &:focus {
        background-color: transparent;
        border-color: $color;
        color: $color;
    }
}

.Button {
    @include resetButton;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    &_color {
        &-primary {
            @include ButtonColor($colorPrimary);
        }
        &-secondry {
            @include ButtonColor($colorSecondary);
        }
        &-red {
            @include ButtonColor($colorRed);
        }
        &-black {
            @include ButtonColor($colorBlack);
        }
    }
    &.is-icon {
        width: 40px;
        &.is-outline {
            border: none!important;
        }
        .Icon {
            margin: 0;
        }
    }
    &.is-outline {
        border-width: 2px;
        border-style: solid;
    }
    &.is-disabled {
        pointer-events: none;
        opacity: 0.65;
    }
}