@import '../../../assets/scss/common/mixins';
@import '../../../assets/scss/common/variables';

.InputField {
    width: 100%;
    height: $inputHeight;
    border: 1px solid $colorGray;
    border-radius: $borderRadiusInput;
    box-shadow: none;
    padding: 0 1em;
    outline: none;
    &:hover,
    &:focus {
        border-color: $colorPrimary;
    }
}

.Input {
    position: relative;
    background-color: $colorWhite;
    top: -10px;
    &__label {
        display: inline-block;
        font-size: 14px;
        position: relative;
        left: 0.5em;
        top: 10px;
        background-color: $colorWhite;
        padding: 0 0.5em;
    }
    &__required {
        color: $colorRed;
    }
    &__error {
        font-size: 14px;
        color: $colorRed;
    }
    & + .Button {
        margin-top: 10px;
    }
}