// Flex
.is-flex {
    display: flex;
    justify-content: center;
}

// Text Align
.is-text-align {
    &_center {
        text-align: center;
    }
}

.is-height {
    &_full {
        height: 100%;
    }
}

.is-spaced {
    margin-bottom: 0.45em;
    &_large {
        margin-bottom: 3em;
    }
}