@import '../../assets/scss/global';

.Nav {
    &__wrapper {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}